.nav>li>a{
    text-decoration: none;
}
.banner{
  
  color:#ffffff;   
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
 
    
}
#bannerImg{
    alignment-adjust: central;
    float:left;
}
#slideShowComponent{
    float:right;
}
#paragraph{
   font-family: 'Pacifico', cursive;
   font-size: 24px;
}