/*
    Created on : Nov 5, 2015, 10:22:51 AM
    Author     : shengchun
*/

body{
    margin:0;
    padding:0;
    font-family: 'Architects Daughter', cursive;
    height:100%;
    width:auto;
    overflow:scroll;
    overflow-x: scroll;
    
    
}
#wrapper{
    width: 100%;
    height:100%;
    margin:0;   
    background-color:white;
    padding:0px;
    
}
.narviagtionBar{
    padding:0px 0 0px 0;
    text-align: right;
    line-height: 32px;
    background-color:#818181;    
}
ul.narviagtionBar{
  margin-top:0px;
   
}
.narviagtionBar Li{
    display:inLine;
    padding:0 10px 0 10px;
    font-size:20px;
    
}
.narviagtionBar a{
    text-decoration: none;
    color:red;
    padding:8px;
    
    
}
.narviagtionBar>li>a:hover{
    color:#c1c1c1;
}
.LOGO{
    color:white;
    background-color: red;
    font-family: 'Rock Salt', cursive;
    padding:0;
    
}

.banner{
    margin:0;
    padding:0;
    height:1%;
    width:100%;
    overflow:hidden;
    border:solid;
    background-color: blue;
    border-color:red;
    border-width:0px 0px 5px 0px;     
}
.banner img{
    width:100%;
    height:10%;      
    
}